.sectionListMovement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-subtitleInfo{
    width: 100%;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.sectionListMovement ul li{
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.sectionListMovement ul li p, .div-subtitleInfo span{
    align-content: center;
    text-align: center;
}

.span-tools { grid-area: 1 / 1 / 2 / 2; }
.span-from { grid-area: 1 / 2 / 2 / 3; }
.span-to { grid-area: 1 / 3 / 2 / 4; }
.span-date { grid-area: 1 / 4 / 2 / 5; }

.p-tools { grid-area: 1 / 1 / 2 / 2; }
.p-from { grid-area: 1 / 2 / 2 / 3; }
.p-to { grid-area: 1 / 3 / 2 / 4; }
.p-date { grid-area: 1 / 4 / 2 / 5; }