:root{
    --colorBorder: rgba(116, 116, 116, 0.26);
}

.sectionListMovement{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

.movement-subtitleInfo{
    width: 100%;
    display: grid;
    grid-template-columns: 120px 50px 150px 150px 110px;
}

.movement-subtitleInfo span{
    border-bottom: 1px solid black;
    padding: 10px 0;
    font-size: 1.13rem;
    font-weight: 600;
}

.sectionListMovement ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionListMovement ul li{
    display: grid;
    grid-template-columns: 120px 50px 150px 150px 110px;
}
.sectionListMovement ul li p{
    padding: 5px 0;
}
.sectionListMovement ul li p, .movement-subtitleInfo span{
    align-content: center;
    text-align: center;
    border-left: .4px solid var(--colorBorder);
    border-right: .4px solid var(--colorBorder);
}

.span-tools { grid-area: 1 / 1 / 2 / 2;}
.span-cantidad { grid-area: 1 / 2 / 2 / 3;}
.span-from { grid-area: 1 / 3 / 2 / 4;}
.span-to { grid-area: 1 / 4 / 2 / 5;}
.span-date { grid-area: 1 / 5 / 2 / 6;}

.p-tools { grid-area: 1 / 1 / 2 / 2;}
.p-cantidad { grid-area: 1 / 2 / 2 / 3;}
.p-from { grid-area: 1 / 3 / 2 / 4;}
.p-to { grid-area: 1 / 4 / 2 / 5;}
.p-date { grid-area: 1 / 5 / 2 / 6;}

/* -------------------------- */

.btn-add {
    background-color: #000;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 90%;
}
.btn-add:hover{
    background-color: #333;
}

.form-movement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-movement input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-movement button {
    background-color: #008060;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.form-movement button:hover{
    background-color: #00664d;
}