:root{
    --colorBorder: rgba(116, 116, 116, 0.26);
}
.main-tool{
    /* margin-top: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
}

.contain-search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}
.input-search-tool{
    font-size: 1.2rem;
    padding: 12px 15px;
    outline: none;
    width: 100%;
    border-radius: 50px;
    border: #333 solid 1.2px;
}
.btn-search-tool{
    position: absolute;
    background: none;
    border:  #333 solid 1.2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    right: 0px;
    font-size: 2rem;
    border-left: none;
    padding: 0px 8px;
    padding-right: 12px;
    padding-top: 6px;
    background-color: #00664d;
    color: #fefefe;
}

.sectionTools{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: scroll;
}

.tools-subtitleInfo{
    width: 100%;
    display: grid;
    grid-template-columns: 40px 130px 120px 120px 80px 120px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tools-subtitleInfo span{
    border-bottom: 1px solid black;
    padding: 10px 0;
    font-size: 1.13rem;
    font-weight: 600;
}

.sectionTools ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionTools ul li{
    display: grid;
    grid-template-columns: 40px 130px 120px 120px 80px 120px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.sectionTools ul li p{
    padding: 5px 0;
}
.sectionTools ul li p, .tools-subtitleInfo span{
    align-content: center;
    text-align: center;    
    border-left: .4px solid var(--colorBorder);
    border-right: .4px solid var(--colorBorder);
}

.span-quantity { grid-area: 1 / 1 / 2 / 2;}
.span-state { grid-area: 1 / 2 / 2 / 3;}
.span-nameTools { grid-area: 1 / 3 / 2 / 4; }
.span-brand { grid-area: 1 / 4 / 2 / 5; }
.span-measure { grid-area: 1 / 5 / 2 / 6; }
.span-observation { grid-area: 1 / 6 / 2 / 7; }

.p-quantity { grid-area: 1/ 1 / 2 / 2;}
.p-state { grid-area: 1/ 2 / 2 / 3;}
.p-nameTools { grid-area: 1 / 3 / 2 / 4; }
.p-brand { grid-area: 1 / 4 / 2 / 5; }
.p-measure { grid-area: 1 / 5 / 2 / 6; }
.p-observation { grid-area: 1 / 6 / 2 / 7; }

/* -------------------------------- */

.tool-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1rem;
    justify-content: center;
    padding: 20px;
    background-color: #33333321;
    border-radius: 6px;
}
.tool-form select{
    border: #ccc 1px solid;
    border-radius: 4px;
    padding: 3px 5px;
}

.add-tool-btn {
    display: block;
    padding: 8px 16px;
    background-color: #000;
    color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    width: 90%;
    font-size: 1.2rem;
    font-weight: 700 ;
}

.add-tool-btn:hover {
    background-color: #333;
}

.tool-form input {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 100px;
    font-size: 1.2rem;
}

.submit-btn {
    padding: 6px 12px;
    background-color: #008060;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #00664d;
}

li {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

@media (min-width: 800px){
  .main-tool{
    align-items: start;
    padding-left: 20px;
    padding-top: 20px;
  }
  .add-tool-btn{
    width: 440px;
  }
  .contain-search-input{
    width: 440px;
  }
  .tool-form{
    width: 400px;
  }
}