.sectionWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-top: 60px; */
  overflow: hidden;
  position: relative;
}

.input-search {
  margin-bottom: 10px;
  font-size: 1.1rem;
  padding: 6px 15px;
  border-radius: 6px;
  border: 1px solid #5e5e5e71;
  outline: none;
  width: 85%;
}
.input-search:focus {
  border: 2px solid #00664d;
}

.ul-listWorks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 0;
  width: 100%;
  margin-top: 20px;
  overflow: scroll;
}

/* ----------------------------------- */
.add-work-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: #33333321;
  border-radius: 6px;
  margin: 10px 0;
  width: 80%;
}

.add-work-button {
  padding: 7px 16px;
  margin-bottom: 16px;
  font-size: 1.05rem;
  width: 90%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.work-searching-button {
  padding: 7px 16px;
  margin-bottom: 16px;
  font-size: 1.05rem;
  background-color: #337e39;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  width: 90%;
}

.work-searching-button:hover {
  background-color: #2d582d;
}
.add-work-button:hover {
  background-color: #333;
}

.add-work-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
}

.add-work-form button {
  padding: 8px 16px;
  background-color: #008060;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-size: 1.2rem;
}

.add-work-form button:hover {
  background-color: #00664d;
}

@media (min-width: 800px){
  .sectionWorks{
    align-items: start;
    padding-left: 20px;
    padding-top: 20px;
  }
  .input-search{
    left: 0;
    width: 400px;
  }
  .add-work-button{
    width: 435px;
  }
  .add-work-form{
    width: 400px;
  }
}