
.toolInWork{
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    border-bottom: 1px solid  #4e4e4e31;
    align-items: center;   
}

.toolInWork p {
    /* text-align: center; */
    padding-left: 5px;
}
.tool-nameTools{
    /* text-align: left; */
}
.tool-quantity{
    border-right: 1px solid #4e4e4e;
}