.header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff83;
  backdrop-filter: blur(5px);
  border-bottom: #bebebe solid 2px;
  z-index: 10000;
}


.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 20000;
    padding: 1rem;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .drawer-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .drawer-nav li {
    margin: 1rem 0;
  }
  
  .drawer-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
  
  .toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    z-index: 100;
    cursor: pointer;
  }
  
  .close-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
.containBtnAndTitle{
    display: flex;
    width: 100%;
}

.header h1{
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.content-navMain-desktop{
  display: flex;
  justify-content: left;
  gap: 5px;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: none;
}

.main-content{
  display: flex;
  /* min-width: 100%; */
  margin-top: 80px;
  overflow: hidden;
  width: 100%;
}
.nav-desktop{
  margin-top: 70px;
  padding-right: 50px;
  padding-left: 20px;
  border-right: #333 solid 2px;
  position: sticky;
  top: 80px;
}

.nav-desktop ul {
  list-style: none;
  padding: 0;
}

.nav-desktop li {
  margin: 1rem 0;
}

.nav-desktop a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}


@media (min-width: 800px) {
  .nav-mobile{
    display: none;
  }
  .toggle-btn{
    display: none;
  }
}
@media (max-width: 800px) {
  .nav-desktop{
    display: none;
  }
}
