.li_Work{
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 1px solid #4242423d;
  width: 100%;
}
.tools-container {
  max-height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 0.4s ease;
}
  
.tools-container.open {
  max-height: 500px; /* ajustá según la altura estimada del contenido */
}
  
.listTools {
  list-style-type: none;
  padding: 0;
  overflow-x: scroll;
}
  